
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .bar{
    fill: steelblue;
    transition: fill 0.2s;
}
.bar:hover{
    fill: darkblue;
}
#title{
    font: 3em sans-serif;
    color: rgb(51, 51, 10);
}
#tooltip{
    position: absolute;
    background-color: brown;
    color: white;
    padding: 5px;
    display: none;
    border: 1px soild  rgb(30, 1, 1);
    border-radius: 3px;
    width: auto;
    pointer-events: none;	
    font: 16px sans-serif;
} 
 svg{
    background-color: wheat;
 }